---
import { Button } from '../components/ui/button';
import { ModeToggle } from '../components/react/ThemeToggle';
import { PROFILE } from '../content/profileData';
Button;

const SITE = PROFILE.site;
---

<header
  class='sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60'
>
  <div
    class='container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0'
  >
    <div class='flex gap-6 md:gap-10'>
      <a href='/' class='flex items-center space-x-2'>
        <svg
          width='194'
          height='124'
          viewBox='0 0 194 124'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          class='h-8 w-8 text-foreground dark:text-foreground-dark'
        >
          <path
            d='M76.4868 123.516H8.5272C6.17288 123.516 4.1631 122.683 2.49785 121.018C0.832597 119.353 -1.83749e-05 117.343 3.04138e-10 114.989C3.04138e-10 112.577 0.832625 110.538 2.49787 108.873C4.16312 107.208 6.17289 106.375 8.52719 106.375H76.4868C78.8411 106.375 80.8509 107.208 82.5161 108.873C84.1814 110.538 85.014 112.577 85.014 114.989C85.014 117.343 84.1814 119.353 82.5161 121.018C80.8508 122.683 78.8411 123.516 76.4868 123.516V123.516ZM76.4868 17.0575H8.5272C6.17288 17.0575 4.1631 16.2248 2.49785 14.5596C0.832597 12.8943 -1.83749e-05 10.8846 3.04138e-10 8.53028C1.83755e-05 6.17598 0.832634 4.16621 2.49785 2.50096C4.16306 0.835712 6.17283 0.00309808 8.52716 0.00311645H76.4867C78.8411 0.00311645 80.8508 0.835741 82.5161 2.50099C84.1814 4.16624 85.014 6.17601 85.0139 8.53031C85.0139 10.8846 84.1813 12.8944 82.5161 14.5596C80.8509 16.2249 78.8411 17.0575 76.4868 17.0575ZM76.4868 70.2849H8.5272C6.17288 70.2849 4.1631 69.4523 2.49785 67.787C0.832597 66.1218 -1.83749e-05 64.112 3.04138e-10 61.7577C1.83755e-05 59.4034 0.832634 57.3792 2.49785 55.6852C4.16306 53.9912 6.17283 53.1442 8.52716 53.1443H76.4867C78.8411 53.1443 80.8508 53.9912 82.5161 55.6852C84.1814 57.3792 85.014 59.4033 85.0139 61.7577C85.0139 64.112 84.1813 66.1218 82.5161 67.787C80.8509 69.4522 78.8411 70.2848 76.4868 70.2848V70.2849ZM159.003 123.516H111.629C109.275 123.516 107.265 122.683 105.6 121.018C103.934 119.353 103.102 117.343 103.102 114.989V61.7577C103.102 59.4034 103.935 57.3792 105.6 55.6853C107.265 53.9913 109.275 53.1443 111.629 53.1443H159.003C164.687 53.1443 169.109 51.3642 172.267 47.804C175.253 44.1864 176.746 39.9659 176.746 35.1424C176.746 32.9029 176.244 30.362 175.239 27.5196C174.234 24.6771 172.439 22.2223 169.855 20.1551C167.271 18.0879 163.654 17.0543 159.002 17.0544H111.629C109.275 17.0544 107.265 16.2217 105.599 14.5565C103.934 12.8912 103.102 10.8815 103.102 8.52717C103.102 6.17287 103.934 4.1631 105.599 2.49785C107.265 0.832599 109.274 -1.83749e-05 111.629 3.0414e-10H159.002C166.639 3.0414e-10 173.042 1.70832 178.21 5.12495C183.378 8.54158 187.268 12.9343 189.881 18.303C192.493 23.6718 193.8 29.2849 193.8 35.1423C193.8 44.1576 190.9 52.1393 185.1 59.0875C184.354 59.9488 183.493 60.8101 182.516 61.6715C186.249 65.1742 189.063 69.2656 190.958 73.9455C192.852 78.6254 193.8 83.4344 193.8 88.3725C193.8 97.3878 190.9 105.341 185.1 112.232C183.608 114.012 181.684 115.749 179.33 117.443C176.975 119.137 174.118 120.572 170.759 121.749C167.4 122.926 163.481 123.515 159.002 123.515L159.003 123.516ZM159.003 106.375C164.687 106.375 169.109 104.595 172.267 101.035C175.253 97.417 176.746 93.1964 176.746 88.373C176.746 86.1335 176.244 83.5926 175.239 80.7501C174.234 77.9077 172.439 75.4529 169.855 73.3857C167.271 71.3185 163.654 70.2849 159.002 70.2849H120.156V106.375H159.002L159.003 106.375Z'
            fill='currentColor'
            class=''></path>
        </svg>
      </a>
    </div>
    <div class='flex flex-1 items-center justify-end space-x-4'>
      <nav class='flex items-center space-x-1'>
        <a href='/projects'>
          <Button variant='ghost'>Projects</Button>
        </a>

        <ModeToggle transition:persist client:load />
      </nav>
    </div>
  </div>
</header>

<script is:inline>
  document.addEventListener('astro:after-swap', function () {
    if (localStorage.getItem('theme') === 'dark')
      document.documentElement.classList.toggle('dark', true);
  });

  const getThemePreference = () => {
    return localStorage.getItem('theme');
  };

  const isDark = getThemePreference() === 'dark';
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
</script>
